<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<scsRegister>
				<processor type="ScsEditingContext.EditingContextHandler, ScsEditingContext" >
					<!-- leave blank for any role, seperate multiple roles by | character -->
					<param name="roles"></param>
					<!-- set to "true" to only allow admins-->
					<param name="isAdmin">false</param>
					<!-- leave blank for any users, seperate multiple users by | character -->
					<param name="users"></param>
					
					<EditorLocations hint ="raw:AddEditorLocation">
						<location id="{0DE95AE4-41AB-4D01-9EB0-67441B7C2450}" description="The root content item"></location>
					</EditorLocations>
					<CoreLocations hint="raw:AddCoreLocation">
						<location id="{DB662EDF-5965-4848-AD14-BA6BF0D55D1E}" description="Add or modify a custom experiance button"></location>
						<location id="{E77EEE1C-4F50-4A68-918C-47E9A8FC0957}" description="Add or modify an edit frame button"></location>
						<location id="{C0EB664B-4DC7-4A7C-98F0-9884EAA2F1E6}" description="Manage rich text editor profiles"></location>
						<location id="{110D080F-ED5C-42DE-80BD-4B751C98AE93}" description="Add to or modify the content editor ribbon"></location>
						<location id="{CFC141D6-0558-4FCD-9137-A723ADB3C019}" description="Add to or modify the experience editor ribbon"></location>
					</CoreLocations>
					<MasterLocations hint="raw:AddMasterLocation">
						<location id="{1057C235-C5C0-4EB7-8F77-EA51EB9E20EE}" description="Add to or modify Rules"></location>
						<location id="{05592656-56D7-4D85-AACF-30919EE494F9}" description="Add to or modify Workflows"></location>
						<location id="{64C4F646-A3FA-4205-B98E-4DE2C609B60F}" description="Add to or modify Languages"></location>
						<location id="{B3031702-6BFF-4061-B92D-291E9EC865D5}" description="Add to or modify Validation Rules"></location>
						<location id="{3E0F7CA2-6990-42E1-BDA3-9B8FCE8DD874}" description="Manage Analytics"></location>
					</MasterLocations>
				</processor>
			</scsRegister>
			<httpRequestBegin>
				<processor type="ScsEditingContext.Pipelines.HttpRequestBegin.RegisterEvent, ScsEditingContext" />
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>