<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
		</events>
		<pipelines>
			<scsRegister>
				<processor type="ScsContentMigrator.ContentMigrationHandler, ScsContentMigrator" >
					<!-- leave blank for any role, seperate multiple roles by | character -->
					<param name="roles"></param>
					<!-- set to "true" to only allow admins-->
					<param name="isAdmin">true</param>
					<!-- leave blank for any users, seperate multiple users by | character -->
					<param name="users"></param>
					<!-- number of threads that are going out to the remote server to queue up item data to be installed-->
					<param name="remotePullingThreads">10</param>
					<!-- number of threads taking queued up data and updating or installing the item data in the database-->
					<param name="databaseWriterThreads">10</param>
					<roots hint="raw:BuildRoot">
						<root>/sitecore/content</root>
						<root>/sitecore/media library</root>
						<root>/sitecore/system/Marketing Control Panel</root>
					</roots>
					<servers hint="raw:BuildServerList">
						<server>[enter server 1 url here i.e. https://sitecore-dev]</server>
						<server>[enter server 2 url here i.e. https://sitecore-dev]</server>
					</servers>
				</processor>
			</scsRegister>
		</pipelines>
	</sitecore>
</configuration>