.cmresults li {
	padding: 4px;
	white-space: nowrap;
}

.cmwhite {
	background-color: aliceblue;
	color: black;
}

.cmresults h4 {
	display: inline;
}

.cmresults {
	padding: 0;
}

.cmspinner {
	height: 30px;
	margin-bottom: -10px;
	margin-left: 30px;
}

.cmtabpane {
	margin-top: -6px;
	border: thin solid darkgray;
	padding-top: 20px;
}

.cmtab {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: darkgray;
}

.cmselectedtab {
	border: thin solid darkgray;
	border-bottom: white;
	background-color: white;
}

.cmresult {
	width: 200px;
	white-space: normal;
	text-decoration: none;
}

.cmloading {
	width: 29px;
	display: inline-block;
}

.cmresult div {
	word-wrap: break-word;
}

.cmresult img {
	float: left;
}

.cmpreviewbtn {
	background-color: aquamarine;
}

.cmresultswrapper {
	background-color: white;
}

.cmresultswrapper td {
	border: none;
	padding-bottom: 5px;
}
.cmdiffheading h3 {
	display: inline-block;
	background-color: rgb(240, 240, 240);
	color: black;
}

.cmdiffheading .btn {
	display: inline;
}
.cmdifftable tr:nth-child(even) {
	background-color: white;
}

td.cmresultslabel {
	float: right;
	white-space: nowrap;
}

.cmexecuteoperation {
	background-color: #fdd;
	float: right;
	margin-top: -43px;
}

.cmresult img {
	width: 16px;
}

.cmmissing {
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	width: 9px !important;
	height: 9px !important;
}

.cmmoved {
	background-color: #700070;
}

.cmequal {
	background-color: #77ff77;
}

.cmrenamed {
	background-color: #f0f030;
}

.cmtemplatechanged {
	background-color: #000000;
}

.cmfieldchanged {
	background-color: #ff7777;
	cursor: pointer;
}

.cmextra {
	background-color: grey;
}

.cmcompare {
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 3px;
}

.cmdifftable {
	border-collapse: collapse;
	vertical-align: text-top;
	background-color: rgb(240, 240, 240);
	position: absolute;
	left: -65px;
	z-index: 100;
	width: 940px;
	max-height: 385px;
	display: inline-block;
	overflow: auto;
	border: thin solid black;
}

.cmdifftab {
	border: thin solid black;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 3px 6px 0 6px;
	background-color: darkgrey;
	color: white;
	cursor: pointer;
	margin-right: 5px;
	font-weight: bold;
	font-size: 13pt;
	left: -60px;
	top: 1px;
	position: relative;
	z-index: 1000;
}

.cmdiffselectedtab {
	background-color: rgb(240, 240, 240);
	color: black;
	border-bottom: none;
	padding-bottom: 2px;
	top: 0;
}

.cmchildchanged {
	width: 2px;
	margin-left: 4px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 8px solid #ff7777;
	border-right: none;
}

.cmviewresult {
	margin-left: -5px;
	padding-right: 15px;
	border-radius: 0;
}

.cmlocalonly {
	opacity: .5;
}

#cmdifftable tr:first-child td {
	border-top: none;
}

#cmdifftable tr td:first-child {
	border-left: none;
}

#cmdifftable tr td:last-child {
	border-right: none;
}

#cmdifftable tr:nth-child(2) td {
	width: 100%;
}

.cmdifftabletree {
	position: fixed;
	left: 80px;
	z-index: 100;
	top: 125px;
}
.cmmultiroot {
	display: inline-block;
	padding-bottom: 5px;
}
.cmlog td:nth-child(even) {
	background-color: #eee;
	border-top: thin solid black;
	border-bottom: thin solid black;
}
.cmlog td {
	padding: 5px;
}
.cmlogheading {
	white-space: nowrap;
	color: darkgreen;
	font-weight: bold;
}