<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<scsRegister>
				<processor type="ScsSitecoreResourceManager.ScsSitecoreResourceManagerRegistration, ScsSitecoreResourceManager" >
					<!-- leave blank for any role, seperate multiple roles by | character -->
					<param name="roles"></param>
					<!-- set to "true" to only allow admins-->
					<param name="isAdmin">false</param>
					<!-- leave blank for any users, seperate multiple users by | character -->
					<param name="users"></param>
					<!-- Templates deployed to {webroot}/SitecoreResourceManager will automatically be installed, by setting this to true it will overwrite the templates 
							on each startup.  This makes it so you can manage and update templates and have them distributed to team members automatically.-->
					<param name="replaceExistingTemplates">true</param>
				</processor>
			</scsRegister>
			<propertyProcessorPreCompiled>
			<!-- Processors here will execute before any compiled properties are gathered from the properties json, but after the user defined properties are added.
				Use it to add custom computed properties that the compiled properties rely on-->
			</propertyProcessorPreCompiled>
			<propertyProcessorPostCompiled>
				<!-- Processors here will execute after all properties from the properties.json are aggregated.
				Use it to add custom computed properties that rely on any other properties existing-->
				<processor type="ScsSitecoreResourceManager.Pipelines.PropertyProcessorPostGather.ExtrapolateFromTargetFiles, ScsSitecoreResourceManager" >
					<Layers>foundation,feature,project</Layers>
				</processor>
				<!-- Allows the use of compound layering in compiled or target properties, for example, you can use a compiled property in a compiled property that's used in a target property-->
				<processor type="ScsSitecoreResourceManager.Pipelines.PropertyProcessorPostGather.PropertyLayeredTokenReplacer, ScsSitecoreResourceManager"/>
				<processor type="ScsSitecoreResourceManager.Pipelines.PropertyProcessorPostGather.GenerateDefaultUnicornDependencies, ScsSitecoreResourceManager"/>
			</propertyProcessorPostCompiled>
			<SitecoreResourceManager>
				<!--             CreateTemplate Requires
					_TEMPLATEFOLDERTEMPLATEID_
					_TEMPLATEPATH_
					_BASETEMPLATEID_
					_SITECOREICON_
				-->
				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.CreateTemplate, ScsSitecoreResourceManager" />


				<!--             CreateRendering Requires
					_RENDERINGFOLDERTEMPLATEID_
					_RENDERPATH_
					_RENDERINGNAME_
					_RENDERINGTEMPLATEID_
					if controller rendering
						_CONTROLLERNAMESPACE_
						_ASSEMBLYNAME_
					if view rendering
						_VIEWPATH_
					_CONTROLLERACTION_
					_CACHEOPTIONS_
				-->
				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.CreateRendering, ScsSitecoreResourceManager" />

				<!--             OverlayTemplate Requires
					_OVERLAYTARGET_
				-->
				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.OverlayTemplate, ScsSitecoreResourceManager" />


				<!--             ReplaceAllTokens Requires
					Output from ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.OverlayTemplate
				-->
				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.ReplaceAllTokens, ScsSitecoreResourceManager" />


				<!--             ApplyProjectsToSolution Requires
					Output from ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.OverlayTemplate
					_PROJECTNAME_
					_SOLUTIONPATH_
				-->
				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.ApplyProjectsToSolution, ScsSitecoreResourceManager" />
				

				<!--             ApplyFilesToProject Requires
					Output from ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.OverlayTemplate
					_TARGETCONTROLLERPATH_
				-->
				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.ApplyFilesToProject, ScsSitecoreResourceManager" />


				<!--             AddToExistingController Requires
					_CONTROLLERACTION_
					_TARGETCONTROLLERPATH_
				-->
				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.AddToExistingController, ScsSitecoreResourceManager">
					<param name="actionFormat">
        public ActionResult _CONTROLLERACTION_()
        {
            return View(_repository.Get_PROJECTNAME_Module());
        }
    </param>
				</processor>

				<!--             ApplyToPlaceholderSettings Requires
					Output from ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.CreateRendering
					_PLACEHOLDERSETTINGS_
				-->
				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.ApplyToPlaceholderSettings, ScsSitecoreResourceManager" />
				<!-- ************************************************************************************************************ -->
				<!-- 
					This processor will add a chunk of code to the end of the method defined in the methodName param in the fileName file using the 
					defined template.
					NOTE:  This will only apply to a specific template zip
					NOTE:  You can use tokens
					NOTE:  You can use this processor multiple times but the type attribute must be unique, so make sure each instance has a different
					amount of white space between the namespace and the assembly "[namespace], [assembly]" then "[namespace],  [assembly]" for your next
					this is due to a Sitecore 'feature' that disallows multiple processors of the same type.
				-->
				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.InsertIntoCsMethod, ScsSitecoreResourceManager" >
					<param name="fileName">_PARENTPROJECTNAME_Configurator.cs</param>
					<param name="template">
        serviceCollection.AddScoped&lt;IStandard_PROJECTNAME_Repository, Standard_PROJECTNAME_Repository&gt;();
        serviceCollection.AddTransient&lt;Standard_PROJECTNAME_Controller&gt;();
    </param>
					<param name="methodName">Configure</param>
					<param name="insertAtEnd">true</param>
					<param name="applicableTemplateZip">Feature-New-Controller.zip</param>
				</processor>

				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.InsertNewCsMethod,  ScsSitecoreResourceManager">
					<param name="fileName">IStandard_PARENTPROJECTNAME_Repository.cs</param>
					<param name="template">
        _PROJECTNAME_Module Get_PROJECTNAME_Module();
    </param>
					<param name="applicableTemplateZip">Feature-Existing-Controller.zip</param>
				</processor>
				<!-- ************************************************************************************************************ -->
				<!-- 
					This processor will add a method to the end of a cs file defined in the filename param
					NOTE:  This will only apply to a specific template zip
					NOTE:  You can use tokens
					NOTE:  You can use this processor multiple times but the type attribute must be unique, so make sure each instance has a different
					amount of white space between the namespace and the assembly "[namespace], [assembly]" then "[namespace],  [assembly]" for your next
					this is due to a Sitecore 'feature' that disallows multiple processors of the same type.
				-->
				<processor type="ScsSitecoreResourceManager.Pipelines.SitecoreResourceManager.InsertNewCsMethod, ScsSitecoreResourceManager">
					<param name="fileName">Standard_PARENTPROJECTNAME_Repository.cs</param>
					<param name="template">
        public _PROJECTNAME_Module Get_PROJECTNAME_Module()
        {
            return _currentContext.GetDataSource&lt;_PROJECTNAME_Module&gt;();
        }
    </param>
					<param name="applicableTemplateZip">Feature-Existing-Controller.zip</param>
				</processor>
			</SitecoreResourceManager>
		</pipelines>
	</sitecore>
</configuration>
