<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
		</events>
		<pipelines>
			<mvc.renderPageExtenders>
				<processor type="Sidekick.Core.Pipelines.ExperienceEditor.RegisterSidekickForEe, Sidekick.Core"></processor>
			</mvc.renderPageExtenders>
			<initialize>
				<processor type="Sidekick.Core.Pipelines.Initialize.InitializeSidekick, Sidekick.Core" >
					<DisableItemGeneration>false</DisableItemGeneration>
				</processor>
			</initialize>
			<scsRegister>
			</scsRegister>
			<httpRequestBegin>
				<processor type="Sidekick.Core.Pipelines.HttpRequestBegin.IsAdmin, Sidekick.Core" />
				<processor type="Sidekick.Core.Pipelines.HttpRequestBegin.CheckScs, Sidekick.Core" patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']" />
			</httpRequestBegin>
			<renderLayout>
				<processor type="Sidekick.Core.Pipelines.HttpRequestBegin.CheckScs, Sidekick.Core" patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']" />
			</renderLayout>
		</pipelines>
		<clientscripts>
			<everypage>
				<script src="/SCS/platform/resources/scscommand.js" language="JavaScript" key="scs"/>
			</everypage>
		</clientscripts>
		<commands>
			<command name="scs:open" type="Sidekick.Core.Commands.OpenScs, Sidekick.Core" />
		</commands>
		<sites>
			<site name="scs" patch:before="site[@name='website']"
				virtualFolder="/scs"
				physicalFolder="/"
				rootPath="/sitecore/content"
				startItem="/home"
				database="master"
				domain="extranet"
				cacheHtml="true"
				disableBrowserCaching="false"
				/>
		</sites>
	</sitecore>
</configuration>