<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
		</events>
		<pipelines>
			<mvc.renderPageExtenders>
				<processor type="SitecoreSidekick.Pipelines.ExperienceEditor.RegisterSidekickForEe, SitecoreSidekick"></processor>
			</mvc.renderPageExtenders>
			<initialize>
				<processor type="SitecoreSidekick.Pipelines.Initialize.InitializeSidekick, SitecoreSidekick" >
				</processor>
			</initialize>
			<scsRegister>
			</scsRegister>
			<httpRequestBegin>
				<processor type="SitecoreSidekick.Pipelines.HttpRequestBegin.IsAdmin, SitecoreSidekick" />
			</httpRequestBegin>
		</pipelines>
		<clientscripts>
			<everypage>
				<script src="/SCS/scscommand.js" language="JavaScript" key="scs"/>
			</everypage>
		</clientscripts>
		<commands>
			<command name="scs:open" type="SitecoreSidekick.Commands.OpenScs, SitecoreSidekick" />
		</commands>
	</sitecore>
</configuration>