<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<scsRegister>
				<processor type="Sidekick.ContentMigrator.ContentMigrationRegistration, Sidekick.ContentMigrator">
					<!--
						This is a shared secret that is used to authenticate to remote servers you want to pull content from.
						This setting must be:
						- Identical across all servers sharing content with Sidekick Content Migrator
						- At least 32 characters long
						- It is highly recommended to use a random string generator for this secret. Do not use dictionary words.
					-->
					<AuthenticationSecret>too short sample</AuthenticationSecret>

					<!--
						This is to set the defaults for the options checkboxes.  
						If you find yourself regularly checking or unchecking options, consider changing the defaults here.
					-->
					<DefaultChildren>true</DefaultChildren>
					<DefaultOverwrite>true</DefaultOverwrite>
					<DefaultRemoveLocalNotInRemote>false</DefaultRemoveLocalNotInRemote>
					<DefaultPullParent>true</DefaultPullParent>
					<DefaultEventDisabler>true</DefaultEventDisabler>
					<DefaultBulkUpdate>true</DefaultBulkUpdate>
					<DefaultUseItemBlaster>false</DefaultUseItemBlaster>
					<DefaultIgnoreRevId>false</DefaultIgnoreRevId>

					<!-- 
						This is recommended to stay true if you have a massive amount of content.  By default the checksum manager
						regenerates the checksum every two minutes or on item event.  If you have 1 million + items in the area
						managed by Content Migrator it may be too expensive of an operation to be useful.
					-->
					<ManualChecksumOnly>true</ManualChecksumOnly>


					<!--
						Sync Root Settings
						These define the content paths that are allowed to be pulled with Sidekick.
						Sync only _content_ (e.g. media, content, goals, etc) with Sidekick. 
						For developer items such as renderings, use Unicorn instead.
					-->
					<roots hint="raw:BuildRoot">
						<root>/sitecore/content</root>
						<root>/sitecore/media library</root>
						<root>/sitecore/system/Marketing Control Panel</root>
					</roots>

					<!--
						Configure the remote server(s) that this server may pull content from.
						For example, you might add the URLs to your production content management server here.
						These servers must have Sidekick Content Migrator installed.
						
						You can set a label for each entry by providing the "desc"-attribute.
						
						NOTE: It is _highly_ recommended to use an SSL/TLS connection for all content migration.
					-->
					<servers hint="raw:BuildServerList">
						<server>[enter server 1 url here i.e. https://sitecore-qa-cm]</server>
						<server desc="optional label">[enter server 2 url here i.e. https://sitecore-prod-cm]</server>
					</servers>
					<!-- 
						Add presets to allow for rapid content migration for specific guid sets.
						For example you may find yourself regularly migrating content from a particular
						Sitecore site, you can make that as easy as a click of the button.
						
						in the first example you can see all of the sync options in their default form.  There is no
						need to explicitly set the options if they do not differ from these defaults.
					-->
					<presets hint="raw:BuildPresetList">
						<preset
							name="AllContent"
							desc="Pull all content from the main Sitecore content node."
							bulkUpdate="true" 
							children="true"
							overwrite="true"
							eventDisabler="true"
							pullParent="true"
							removeLocalNotInRemote="false"
							ignoreRevId="false"
							useItemBlaster="true">
							
							<serverBlacklist>https://dont.allow.for.this.server</serverBlacklist>
							<!-- /sitecore/Content -->
							<source>{0DE95AE4-41AB-4D01-9EB0-67441B7C2450}</source>
						</preset>
						<preset name="AllContentAndMarketing" desc="Pull all content and marketing data from Sitecore.">
							<serverWhitelist>https://allow.for.this.server</serverWhitelist>
							<serverWhitelist>https://or.also.allow.for.this.server</serverWhitelist>
							<!-- /sitecore/Content -->
							<source>{0DE95AE4-41AB-4D01-9EB0-67441B7C2450}</source>
							<!-- /sitecore/system/Marketing Control Panel -->
							<source>{33CFB9CA-F565-4D5B-B88A-7CDFE29A6D71}</source>
						</preset>
					</presets>
				</processor>
			</scsRegister>
		</pipelines>
	</sitecore>
</configuration>