<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<scsRegister>
				<!-- Registers Content Migrator with Sidekick -->
				<processor type="ScsContentMigrator.ContentMigrationRegistration, ScsContentMigrator" >

					<!--
					*****************************************************************************************************************
					Modify and enable zSCSContentMigrator.Local.config.example for configuring service security, allowed items, and the server list
					*****************************************************************************************************************
					-->
					
					<!-- Security roles allowed to use Content Migrator. Leave blank for any role, separate multiple roles by | character -->
					<param name="roles"></param>
					<!-- set to "true" to only allow admins to use Content Migrator -->
					<param name="isAdmin">true</param>
					<!-- Usernames allowed to use Content Migrator. Leave blank for any users, separate multiple users by | character -->
					<param name="users"></param>
					<!-- Number of threads that are going out to the remote server to queue up item data to be installed-->
					<param name="remotePullingThreads">3</param>
					<!-- Number of threads taking queued up data and updating or installing the item data in the database-->
					<param name="databaseWriterThreads">3</param>
				</processor>
			</scsRegister>
		</pipelines>
		<!--<scheduling>
			<agent description="production content to dev" type="ScsContentMigrator.ContentAgent, ScsContentMigrator" method="Run" interval="00:01:00">
				<param desc="remote server">[enter server url here i.e. https://sitecore-dev]</param>
				<param desc="id root">{0DE95AE4-41AB-4D01-9EB0-67441B7C2450},{3D6658D8-A0BF-4E75-B3E2-D050FABCF4E1}</param>
				<param desc="database">master</param>
				<param desc="bulk update">true</param>
				<param desc="children">true</param>
				<param desc="overwrite">true</param>
				<param desc="event disabler">true</param>
				<param desc="pull parent">true</param>
				-->
				<!-- make sure this is false if you would like to keep unique testing content intact-->
					<!--
				<param desc="removeLocalNotInRemote">true</param>
			</agent>
		</scheduling>-->
	</sitecore>
</configuration>