<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Sitecore.Analytics" version="9.1.1" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Analytics.Model" version="9.1.1" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Kernel" version="9.1.1" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.XConnect" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.XConnect.Client" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.XConnect.Client.Configuration" version="9.1.1" targetFramework="net471" />
  <package id="Sitecore.XConnect.Collection.Model" version="9.1.1" targetFramework="net471" />
</packages>