<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <scsRegister>
        <processor type="Sidekick.XConnect.XConnectRegistration, Sidekick.XConnect" >
          <param name="roles"></param>
          <param name="isAdmin">true</param>
          <param name="users"></param>
        </processor>
      </scsRegister>
    </pipelines>
  </sitecore>
</configuration>
