<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rainbow.Core" version="2.0.0-pre08" targetFramework="net452" />
  <package id="Rainbow.Storage.Sc" version="2.0.0-pre08" targetFramework="net452" />
  <package id="SitecoreSidekickFoundation" version="1.4.0-rc3" targetFramework="net452" />
</packages>