.alpane {
	position: absolute;
	color: black;
	background-color: #ddd;
	border: thin solid black;
	box-shadow: black 1px 1px 15px 0px;
}
	.alpane.filterpane {
		left: 44px;
		top: 44px;
	}

.alnote {
	left: 100px;
	margin-top: -100px;
	min-width: 30%;
	max-width: 80%;
	text-align: left;
}
	.alnote table td {
		padding: 3px;
	}

.alpane td {
	padding: 3px;
}

.almenu {
	max-height: 520px;
	padding: 3px;
}

.almenu .tab {
    background-color: #aaa;
}

.alfilter {
	margin-top: -45px;
	float: right;
	position: inherit;
}

.aldetailpane {
	padding: 10px;
	background-color: #ddd;
}

.alqueryfilterpane {
	margin-top: 5px;
	border: thin solid black;
	background-color: #eee;
	margin-left: -3px;
	margin-right: -2px;
	margin-bottom: -3px;
	overflow: hidden;
	border-right: 0;
	padding: 7px;
}

.alactive {
    background-color: #eee !important;
    border-bottom: thin solid #eee;
}

.aldetailheading {
	color: white;
	font-size: 13pt;
	margin: 0;
	background-color: #2b2b2b;
	padding: 5px;
}

.autoCompletePane {
	position: absolute;
	background-color: white;
	width: 300px;
	border: 2px solid black;
	z-index: 99;
	padding: 5px;
}

	.autoCompletePane li {
		padding: 2px;
		border: thin solid white;
	}

		.autoCompletePane li:hover {
			border: thin solid black;
			background-color: #eee;
		}

.arrow {
	padding-bottom: 3px;
}

.jumpto {
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

ins {
	background-color: #cfc;
	text-decoration: none;
}

del {
	color: #999;
	background-color: #FEC8C8;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
.alinvisible {
	visibility: hidden;
}
.alvisible {
	visibility: visible;
}
.algear {
	margin-bottom: -13px;
}
.aldatabases {
	max-width: 460px;
}
.aldatabases label {
	font-size: 14pt;
	margin-right: 10px;
}
.aldatabases input {
	margin-right: -3px;
}
.aldatabases span {
	white-space: nowrap;
}
.aliconcol {
	text-align: center;
}
.graph {
	margin: 20px 0 20px 0;
}
.altable td {
	padding: 5px 10px;
}
.altable td img {
	height: 16px;
}
.my-1 {
	margin-top: 10px;
	margin-bottom: 10px;
}