.alpane {
	position: absolute;
	color: black;
	background-color: #ddd;
	border: thin solid black;
}

.alnote {
	left: 100px;
	margin-top: -100px;
	min-width: 30%;
	max-width: 80%;
}

.alpane td {
	padding: 3px;
}

.almenu {
	max-height: 520px;
	padding: 2px;
}

.almenu .tab {
    background-color: #aaa;
}

.alfilter {
	margin-top: -45px;
	float: right;
	position: inherit;
}

.aldetailpane {
	padding: 10px;
	background-color: #ddd;
}

.alqueryfilterpane {
	margin-top: 5px;
	border: thin solid black;
	background-color: #eee;
	margin-left: -3px;
	margin-right: -2px;
	margin-bottom: -3px;
	overflow: hidden;
	border-right: 0px;
	padding: 7px;
}

.alactive {
    background-color: #eee !important;
    border-bottom: thin solid #eee;
}

.aldetailheading {
	color: white;
	font-size: 13pt;
	margin: 0px;
	background-color: #2b2b2b;
}

.autoCompletePane {
	position: absolute;
	background-color: white;
	width: 300px;
	border: 2px solid black;
	z-index: 99;
	padding: 5px;
}

	.autoCompletePane li {
		padding: 2px;
		border: thin solid white;
	}

		.autoCompletePane li:hover {
			border: thin solid black;
			background-color: #eee;
		}

.arrow {
	padding-bottom: 2px;
}

.jumpto {
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

ins {
	background-color: #cfc;
	text-decoration: none;
}

del {
	color: #999;
	background-color: #FEC8C8;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
.alinvisible {
	visibility: hidden;
}
.alvisible {
	visibility: visible;
}