<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<publish>
				<processor type="Sidekick.AuditLog.Pipelines.Publish.AuditPublish, Sidekick.AuditLog"/>
			</publish>
			<!--<publishItem>
				<processor type="Sidekick.AuditLog.Pipelines.Publish.AuditPublishItem, Sidekick.AuditLog"/>
			</publishItem>-->
			<scsRegister>
				<processor type="Sidekick.AuditLog.AuditLogRegistration, Sidekick.AuditLog">
					<!-- SQL or LUCENE -->
					<!-- If you use SQL, create a database with the Sidekick.AuditLog.dacpac and add a connection string for sidekick.auditlog - see Readme.md -->
					<param name="type">LUCENE</param>
					<!-- 0 for indefinately -1 for no backup-->
					<param name="keepBackups">5</param>
					<!-- 0 for indefinately-->
					<param name="keepRecords">3</param>
					<!-- set to "true" to log sitecore/anonymous events such as EXM message stats updates -->
					<param name="logAnonymousEvents">false</param>
					<!-- leave blank for any role, seperate multiple roles by | character -->
					<param name="roles"></param>
					<!-- set to "true" to only allow admins-->
					<param name="isAdmin">true</param>
					<!-- leave blank for any users, seperate multiple users by | character -->
					<param name="users"></param>
					<events hint="raw:AddEventProcessor">
						<onSaved type="Sidekick.AuditLog.Pipelines.OnSave, Sidekick.AuditLog" color="blue" id="0" label="Item was saved" event="item:saved" />
						<onSaved type="Sidekick.AuditLog.Pipelines.OnSaveStandardValues, Sidekick.AuditLog" color="#7b7f00" id="9" label="Standard field saved" event="item:saved" />
						<onSaved type="Sidekick.AuditLog.Pipelines.OnMoved, Sidekick.AuditLog" color="brown" id="1" label="Item was moved" event="item:moved" />
						<onSaved type="Sidekick.AuditLog.Pipelines.OnDeleted, Sidekick.AuditLog" color="red" id="2" label="Item was deleted" event="item:deleting" />
						<onSaved type="Sidekick.AuditLog.Pipelines.OnRename, Sidekick.AuditLog" color="orange" id="3" label="Item was renamed" event="item:renamed" />
						<onSaved type="Sidekick.AuditLog.Pipelines.OnCreated, Sidekick.AuditLog" color="green" id="4" label="Item was created" event="item:created" />
						<onSaved type="Sidekick.AuditLog.Pipelines.GeneralEvent, Sidekick.AuditLog" color="#dd33ff" id="7" label="Item was unlocked" event="item:unlocked" />
						<onSaved type="Sidekick.AuditLog.Pipelines.GeneralEvent, Sidekick.AuditLog" color="#aaaaff" id="8" label="Item was locked" event="item:locked" />
					</events>
					<customEvents hint="raw:RegisterCustomEventType">
						<publish color="purple" id="5" label="Publish Initiated" /> 
						<!--<publish color="#eee" id="6" label="Item Published" />--> 
					</customEvents>
				</processor>
			</scsRegister>
			<httpRequestBegin>
				<processor type="Sidekick.Core.Pipelines.HttpRequestBegin.IsAdmin, Sidekick.Core" />
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>