<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<publish>
				<processor type="ScsAuditLog.Pipelines.Publish.AuditPublish, ScsAuditLog"/>
			</publish>
			<!--<publishItem>
				<processor type="ScsAuditLog.Pipelines.Publish.AuditPublishItem, ScsAuditLog"/>
			</publishItem>-->
			<scsRegister>
				<processor type="ScsAuditLog.AuditLogRegistration, ScsAuditLog">
					<!-- 0 for indefinately -1 for no backup-->
					<param name="keepBackups">5</param>
					<!-- 0 for indefinately-->
					<param name="keepRecords">3</param>
					<!-- leave blank for any role, seperate multiple roles by | character -->
					<param name="roles"></param>
					<!-- set to "true" to only allow admins-->
					<param name="isAdmin">true</param>
					<!-- leave blank for any users, seperate multiple users by | character -->
					<param name="users"></param>
					<events hint="raw:AddEventProcessor">
						<onSaved type="ScsAuditLog.Pipelines.OnSave, ScsAuditLog" color="blue" id="0" label="Item was saved" event="item:saved" />
						<onSaved type="ScsAuditLog.Pipelines.OnSaveStandardValues, ScsAuditLog" color="#7b7f00" id="9" label="Standard field saved" event="item:saved" />
						<onSaved type="ScsAuditLog.Pipelines.OnMoved, ScsAuditLog" color="brown" id="1" label="Item was moved" event="item:moved" />
						<onSaved type="ScsAuditLog.Pipelines.OnDeleted, ScsAuditLog" color="red" id="2" label="Item was deleted" event="item:deleting" />
						<onSaved type="ScsAuditLog.Pipelines.OnRename, ScsAuditLog" color="orange" id="3" label="Item was renamed" event="item:renamed" />
						<onSaved type="ScsAuditLog.Pipelines.OnCreated, ScsAuditLog" color="green" id="4" label="Item was created" event="item:created" />
						<onSaved type="ScsAuditLog.Pipelines.GeneralEvent, ScsAuditLog" color="#dd33ff" id="7" label="Item was unlocked" event="item:unlocked" />
						<onSaved type="ScsAuditLog.Pipelines.GeneralEvent, ScsAuditLog" color="#aaaaff" id="8" label="Item was locked" event="item:locked" />
					</events>
					<customEvents hint="raw:RegisterCustomEventType">
						<publish color="purple" id="5" label="Publish Initiated" /> 
						<!--<publish color="#eee" id="6" label="Item Published" />--> 
					</customEvents>
				</processor>
			</scsRegister>
			<httpRequestBegin>
				<processor type="SitecoreSidekick.Pipelines.HttpRequestBegin.IsAdmin, SitecoreSidekick" />
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>